<!DOCTYPE html>
<html lang="es">
	<head th:replace="~{fragmentos/head::head}">
       
</head>
<body>

	<nav th:replace="~{fragmentos/encabezado::encabezado}"></nav>
	<div id="menu">
		 <a th:href="@{/nuevo}">Evento Nuevo</a>
</div>
	
	<table class="table table-striped">
		
	<thead>
		<tr>
			<th>Id</th>
			<th>Nombre</th>
			<th>Apellidos</th>
			<th>email</th>
			<th>Operaciones</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="eventos : ${lista}">
			<td th:text="${eventos.id}">1</td>
			<td th:text="${eventos.fecha}">Nombre</td>
			<td th:text="${eventos.lugar}">Apellidos</td>
			<td th:text="${eventos.asunto}">Email</td>
			<td th:text="${eventos.organizador}">Email</td>
			
				<td>
				<a href="#" th:href="@{/editar/{id}(id=${eventos.id})}">Editar</a> | 
				<a href="#" th:href="@{/borrar/{id}(id=${eventos.id})}">Borrar</a>
			</td>
		

		</tbody>
		
	</table>
	
	<footer th:replace="~{fragmentos/pie::pie}"></footer>
	
	<th:block th:replace=~{fragmentos/jsfinal::javascriptfinal}></th:block>
</body>
</html>