<!DOCTYPE html>
<html lang="es">
	<head th:replace="~{fragmentos/head::head}">
       
</head>
<body>

	<nav th:replace="~{fragmentos/encabezado::encabezado}"></nav>
	<div id="menu">
		 <a th:href="@{/nuevoProducto}">Producto Nuevo</a>
</div>
	
	<table class="table table-striped">
		
	<thead>
		<tr>
			<th>Id</th>
			<th>Nombre</th>
			<th>Cantidad</th>
			<th>Precio</th>
			<th>Disponibilidad</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="productos : ${lista}">
			<td th:text="${productos.id}">Id</td>
			<td th:text="${productos.nombre}">Nombre</td>
			<td th:text="${productos.cantidad}">Cantidad</td>
			<td th:text="${productos.precio}">Precio</td>
			<td th:text="${productos.disponibilidad}">Disponibilidad</td>
			
				<td>
				<a href="#" th:href="@{/editarProducto/{id}(id=${productos.id})}">Editar</a> | 
				<a href="#" th:href="@{/borrarProducto/{id}(id=${productos.id})}">Borrar</a>
			</td>
		

		</tbody>
		
	</table>
	
	<footer th:replace="~{fragmentos/pie::pie}"></footer>
	
	<th:block th:replace=~{fragmentos/jsfinal::javascriptfinal}></th:block>
</body>
</html>