<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" integrity="sha384-
Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<title>Rosario de Cádiz</title>
</head>
<body>

	<nav th:replace="~{fragmentos/menu::menu}"></nav>
	
	       <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card">
            <img src="/contenido/img/camiseta_productos.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Camiseta Rosario</h5>
              <p class="card-text">
                  th:
              </p>
              <a href="#" class="btn btn-primary">Editar</a>
              <a href="#" class="btn btn-primary">Borrar</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/contenido/img/pulsera_productos.jpg class=" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Pulsera Rosario </h5>
              <p class="card-text">
                  th:
                </p>
                <a href="#" class="btn btn-primary">Editar</a>
                <a href="#" class="btn btn-primary">Borrar</a>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card">
              <img src="/contenido/img/polo_productos.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Polo Rosario</h5>
                <p class="card-text">
                    th:
                  </p>
                  <a href="#" class="btn btn-primary">Editar</a>
                  <a href="#" class="btn btn-primary">Borrar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="/contenido/img/manopla_productos.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Manopla Rosario</h5>
                <p class="card-text">
                    th:
                  </p>
                  <a href="#" class="btn btn-primary">Editar</a>
                  <a href="#" class="btn btn-primary">Borrar</a>
              </div>
            </div>
          </div>
      </div>
    
    	<footer th:replace="~{fragmentos/footer::footer}"></footer>



</body>
</html>