<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Rosario de Cádiz</title>

</head>

<body>
	
<div class="contens my-5 w-100" id="footer">

      <footer class="bg-secondary text-center text-lg-start text-white w-100" id="footer">
        <div class="container p-4">

          <div class="row my-5">
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
    
              <div class="rounded-circle bg-white shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto" style="width: 150px; height: 150px;">
                <img src="/contenido/img/logo.png" height="70" alt="logo"
                     loading="lazy" />
              </div>
    
              <p class="text-center">Corazón de Rosario. </p>
              
              <!------------------------------------------------------------------------------------------------------------------------------------------------------------->
              <!--LOGOS DE LAS OTRAS REDES SOCIALES FOOTER-->
              <ul class="list-unstyled d-flex flex-row justify-content-center">
                <li>
                  <a class="text-white px-2" href="https://es-es.facebook.com/">
                    <img src="./img/facebook.png"  height="50px" width="50px" alt="facebook">
                  </a>
                </li>
                <li>
                  <a class="text-white px-2" href="https://www.instagram.com/?hl=es">
                    <img src="./img/instagram.png"  height="50px" width="50px" alt="instagram">
                  </a>
                </li>
                <li>
                  <a class="text-white ps-2" href="https://www.youtube.com/t/restricted_access?blocked=4">
                    <img src="./img/yt.png"  height="50px" width="50px" alt="youtube">
                  </a>
                </li>
                <li>
                  <a class="text-white ps-2" href="https://twitter.com/?lang=es">
                    <img src="./img/tuenti.png" height="50px" width="50px" alt="twitter">
                  </a>
                </li>
              </ul>
    
            </div>
    </footer>


</body>